* {
    box-sizing: border-box;
    font-family: Arial, Tahoma;
}


.stars {
    background-color: rgba(184, 191, 245, 0.993);
    height: 25px;
    width: 25px;
    border-radius: 50%;
    animation-iteration-count: infinite;
    z-index:3;
    position: absolute;
  }

  .star-1 {
    margin-top: 5%;
    margin-left: 90%;
    animation-duration: 1s;
    animation-name: twinkle;
  }

  .star-2 {
    margin-top: 40%;
    margin-left: 30%;
    animation-duration: 0.9s;
    animation-name: twinkle;
  }

  .star-3 {
    margin-top: 10%;
    margin-left: 40%;
    animation-duration: 0.8s;
    animation-name: twinkle;
  }



  @keyframes twinkle {
    20% {
      transform: scale(0.5);
      opacity: 0.5;
    }
  }

  #back {
    z-index:1;
    position: fixed;
    padding: 0;
    margin: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(black, #000099, #66c2ff, #ffcccc, #ffeee6);
  }

/*         */
p {
    font-weight: bold;
    color:rgb(8, 173, 250);
}

body {
    display: flex;
    min-height: 500px;
    justify-content: center;
    width: 90%;
}

.container {
    z-index: 2;
    position: absolute;
}


h1 {
    text-align: center;
    font-size: 23px;
    margin-bottom: 25px;
    color:burlywood;
}

.text {
    text-transform: uppercase;
    font-size: 14px;
}

#balance {
    font-size: 25px;
    margin: 0 0 0 7px;
}


.container2 {
    display: flex;
    justify-content: space-around;
    background-color: white;
    padding: 5px;
    margin: 20px 0;
    border: 1px solid #ccc;
    box-shadow: 1px 0.9px 2px grey;
}


.container2>div {
    margin-top: 5px;
    margin-bottom: 5px;
    width: 40%;
    text-align: center;
}

.container2 .vertical {
    border-left: 1px solid grey;
    height: 50px;
    position: absolute;
    left: 45%;
}


.container2>div>p {
    font-size: 15px;
    margin-top: 2px;
    margin-bottom: 5px;
    padding: 5px;
    text-transform: uppercase;
}

.container2>div>span {
    margin: 5px;
}

.container2 #money-income {
    color: green;
    font-weight: bold;
}

.container2 #money-expense {
    color: red;
    font-weight: bold;
}


.history {
    font-size: 16px;
    margin-bottom: 5px;
}

li {
    list-style: none;
    border-style: none;
    background-color: white;
    position: relative;
    padding: 5px;
    margin: 12px;
  }
  
  .delete-btn {
    background-color: red;
    position: absolute;
    right: 245px;
    opacity: 0;
    transition-property: opacity;
    transition-duration: 0.4s;
    transition-timing-function: ease;
  }
  
  li:hover .delete-btn {
    opacity: 1;
  }

  li .text {
      color:blue;
      position:absolute;
      left:100%;
  }



.form input {
    background-color: #FFF;
    padding: 10px;
    width: 100%;
    border: 1px solid #ccc;
    margin-bottom: 10px;
}

.form input:focus {
    border: 2px solid rgb(18, 2, 252);
    border-radius: 4px;
}

#transaction {
    margin-top: 2px;
    width: 100%;
    padding: 10px 20px;
    background-color: rgb(20, 33, 153);
    color: white;
}